<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <!-- 生产环境 -->
    <beans profile="production">
        <util:properties id="applicationConfig" location="file:${project.conf.path}/web-example/dubbo.properties"/>

    </beans>

    <!-- 开发环境 -->
    <beans profile="test">
        <util:properties id="applicationConfig" location="classpath*:properties/application.properties"/>
    </beans>


</beans>